!!!
%html
  = haml :'partials/head'
  %body{data: {page: [page.capitalize, request.request_method.capitalize].join} }
    #site
      = haml :'partials/titlebar'
      - if page != 'index'
        = haml :'partials/nav'
      #content= yield
    = haml :'partials/footer'
    = haml :'partials/js', locals: { page: page }
