!!!
%html
  = haml :'partials/head'
  %body
    #site
      = haml :'partials/titlebar'
      = haml :'partials/headerNav', locals: { hdrClass: 'standard' }
      #content= yield
    = haml :'partials/footer'
    = haml :'partials/appJS', locals: { page: page }
