%head#head
  - # google analytics
  = render partial: 'layouts/google_analytics'
  %title Stanford Student Space Initiative
  %meta{charset: 'utf-8'}/

  %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700',
  rel: 'stylesheet',
  type: 'text/css'}/

  - # CSS
  = stylesheet_link_tag "application",
    media: "all", "data-turbolinks-track" => true
  = csrf_meta_tags

  - # Sticky footer IE fix
  = render partial: 'layouts/ie_footer_fix'
  - # Moot
  = render partial: 'layouts/moot'
